body {
    background-image: url(../images/wild-sea.png);
    max-width: 100vw;

}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
}

ul {
    color: white;
}

.parent::after {
    content: '';
}

.test {
    margin-top: 30px;
    margin-bottom: 30px;
}

.parent {position: relative;}
.parent::after {
	content: ''; 
	width: 100%; 
	height: 100%;
	background-color: whitesmoke; 
	opacity: 0.8; 
	position: absolute; 
	top: 0; 
	left: 0;
	z-index: -1;
}

.main-box {
    margin-bottom: 10px;
    min-height: 200px;
    background-color: black;
}

.titletop {
    font-size: 24pt;
    font-weight: bold;
    color: white;
}